@import '../../../styles/variables';

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 640px 1fr;
}

.background {
	background-image: url('../../../../public/static/images/bg_auth.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main {
	display: flex;
	align-items: center;
	padding: 0 280px;
	background-color: #fff;
}

@media (max-width: 1600px) {
	.container {
		grid-template-columns: 540px 1fr;
	}

	.main {
		padding: 0 120px;
	}
}

@media (max-width: $widthTablet) {
	.container {
		grid-template-columns: 1fr;
	}

	.main {
		padding: 0 200px;
	}

	.background {
		display: none;
	}
}

@media (max-width: $widthMobile) {
	.main {
		padding: 0 40px;
	}
}
