.container {
	width: fit-content;
	height: fit-content;
	padding: 6px 12px;
	color: #23262f;
	font-size: 14px;
	font-weight: 400;

	&.small {
		padding: 2px 8px;
	}
}

.main {
	display: flex;
	align-items: center;
	width: fit-content;
	gap: 6px;

	& > p {
		color: #23262f;
		font-size: 14px;
		font-weight: 500;
	}
}

.dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
