.container {
	position: relative;
	width: 100%;
	padding: 10px 16px;
	font-size: 14px;
	border-radius: 8px;
	cursor: pointer;
	color: #000;
	margin-bottom: 3px;
	font-weight: 500;
	transition: 0.3s;

	&.active {
		background-color: #005994;
		color: #fff;

		&:hover {
			background-color: #005994;
			color: #fff;
		}
	}

	&:hover {
		background-color: #005994;
		color: #fff;
	}
}

@media (max-width: 1023px) {
	.container {
		font-size: 13px;
	}
}
