.container {
	border-radius: 12px;
	background: #fff;
	padding: 16px 20px;

	& > h4 {
		color: #141416;
		font-size: 18px;
		font-weight: 700;
	}

	& > p {
		color: #777e90;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 12px;
	}
}

.user {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.info {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.avatar {
		border-radius: 6px;
	}

	.name {
		color: #141416;
		font-size: 14px;
		font-weight: 600;
	}

	.count {
		color: #00b7c4;
		font-size: 16px;
		font-weight: 600;
	}

	& + & {
		border-top: 1px solid #e6e8ec;
	}
}
