.container {
	min-width: 200px;
	height: 40px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2px;
	user-select: none;
	border-radius: 50px;
	background-color: #f4f5f6;
	border: 1px solid #f4f5f6;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		border: 1px solid #fc6a45;
	}

	&.active {
		border: 1px solid #fc6a45;

		.icon_arrow {
			transform: rotate(-180deg);
		}
	}

	.value {
		display: flex;
		align-items: center;
	}

	.name {
		font-weight: 500;
		font-size: 14px;
		color: #777e90;
	}

	.text {
		flex: 1;
		font-size: 14px;
		font-weight: 500;
		margin-left: 8px;
		max-width: 240px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
		-webkit-line-clamp: 1;
	}

	.icon_arrow {
		transition: 0.3s;
		margin-left: 10px;
	}
}
