.container {
	border-radius: 8px;

	.main {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 12px;
		height: 240px;
		width: 600px;
		cursor: pointer;
		border-radius: 20px;
		border: 1px dashed rgba(45, 116, 255, 0.5);
		background: rgba(45, 116, 255, 0.02);

		p {
			color: #171832;
			font-size: 16px;
			font-weight: 400;
		}

		.image {
			width: 100%;
			height: 100%;
			border-radius: 20px;
		}

		&.dragging {
			border: 1px dashed #efefef;
			background: #fff;
		}

		&.isWidthFull {
			width: 100%;
		}
	}
}

.label {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 8px;
}

.close {
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 1;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	transition: 0.3s;

	&:active {
		transform: scale(0.9);
	}
}
