.head_main {
	padding: 12px 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	flex-wrap: wrap;
	border-radius: 16px;
	background: #fff;
}

.group_button {
	display: flex;
	align-items: center;
	gap: 10px;
}

.main {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 400px;
	gap: 20px;
}

.form {
	padding: 24px;
	border-radius: 16px;
	background: #fff;
}

.editer {
	margin-top: 16px;
}
