@import './grid';
@import './stylesGlobals';

:root {
	--toastify-toast-min-height: 56px;
	--toastify-toast-width: 400px;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: SF-Pro;
	color: #353945;
	background-color: #f8f8f8;

	::-moz-selection {
		color: #fff;
		background: #3772ff;
	}

	::selection {
		color: #fff;
		background: #3772ff;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
	outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input:-internal-autofill-selected {
	background-color: transparent !important;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #3772ff;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #3772ff, 0 0 5px #3772ff;
	opacity: 1;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 11;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: solid 2px transparent;
	border-top-color: #3772ff;
	border-left-color: #3772ff;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.Toastify__toast-container {
	z-index: 99 !important;
}

.toastify-custom {
	color: #141416;
	text-align: center;
	padding: 6px;
	line-height: 24px;
	background-color: #fff;
	border-radius: 60px;
	margin: 10px;

	.Toastify__close-button {
		min-width: 30px;
		min-height: 30px;
		opacity: 1;
		color: #141416;
		align-self: center;
		margin-left: 10px;
	}
	.Toastify__toast-icon {
		width: 50px;
	}
	.Toastify__toast-body {
		padding: 0;
		text-align: left;
	}
}

.toastify-custom-success {
	color: #141416;
	text-align: center;
	padding: 6px;
	line-height: 24px;
	background-color: #fff;
	border-radius: 60px;
	margin: 10px;

	.Toastify__close-button {
		min-width: 30px;
		min-height: 30px;
		opacity: 1;
		color: #141416;
		align-self: center;
		margin-left: 10px;
	}
	.Toastify__toast-icon {
		width: 50px;
	}
	.Toastify__toast-body {
		padding: 0;
		text-align: left;
	}
}

.toastify-custom-info {
	color: #141416;
	text-align: center;
	padding: 6px;
	line-height: 24px;
	background-color: #fff;
	border-radius: 60px;
	margin: 10px;

	.Toastify__close-button {
		min-width: 30px;
		min-height: 30px;
		opacity: 1;
		color: #141416;
		align-self: center;
		margin-left: 10px;
	}
	.Toastify__toast-icon {
		width: 50px;
	}
	.Toastify__toast-body {
		padding: 0;
		text-align: left;
	}
}

.toastify-custom-error {
	color: #141416;
	text-align: center;
	padding: 6px;
	line-height: 24px;
	background-color: #fff;
	border-radius: 60px;
	margin: 10px;

	.Toastify__close-button {
		min-width: 30px;
		min-height: 30px;
		opacity: 1;
		color: #141416;
		align-self: center;
		margin-left: 10px;
	}
	.Toastify__toast-icon {
		width: 50px;
	}
	.Toastify__toast-body {
		padding: 0;
		text-align: left;
	}
}

.toastify-custom-warn {
	color: #141416;
	text-align: center;
	padding: 6px;
	line-height: 24px;
	background-color: #fff;
	border-radius: 60px;
	margin: 10px;

	.Toastify__close-button {
		min-width: 30px;
		min-height: 30px;
		opacity: 1;
		color: #141416;
		align-self: center;
		margin-left: 10px;
	}
	.Toastify__toast-icon {
		width: 50px;
	}
	.Toastify__toast-body {
		padding: 0;
		text-align: left;
	}
}

.jodit-container {
	height: 100% !important;
	width: 100% !important;
}

.jodit-workplace {
	min-height: 800px !important;
}

.jodit-status-bar {
	display: none !important;
}

.rdtPicker {
	border: none !important;
	padding: 0 !important;
	margin-top: 0 !important;

	// Lưới ngày
	th {
		padding: 6px 0 !important;
	}

	thead tr:first-of-type th:hover {
		transition: 0.3s;
		background: rgba(154, 169, 182, 0.2) !important;
	}

	td,
	th {
		border-radius: 6px;
		height: 40px !important;
	}

	td {
		font-weight: 500;
	}

	td.rdtOld {
		color: #9aa9b6;
	}

	td.rdtActive,
	td.rdtActive:hover {
		background-color: #ff8357 !important;
	}

	td.rdtToday:before {
		display: none !important;
	}

	td.rdtDisabled,
	td.rdtDisabled:hover {
		color: #9aa9b6 !important;
	}

	.rdtDays .rdtTimeToggle {
		background-color: #fff;
		border: 1px solid #00b7c4;

		&:hover {
			background-color: unset;
			opacity: 0.6;
		}
	}

	// Lưới tháng
	td.rdtMonth,
	td.rdtYear {
		height: 44px !important;
	}

	th.rdtSwitch {
		width: 250px !important;
	}

	.rdtMonths th.rdtSwitch {
		width: 32px !important;
	}

	.rdtTime .rdtSwitch {
		cursor: pointer;
		font-size: 20px;
		font-weight: 600;

		&:hover {
			opacity: 0.8;
		}
	}

	.rdtBtn {
		border-radius: 6px;
		height: 44px;
		width: 44px;
	}

	.rdtCounter .rdtCount {
		height: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.rdtCounterSeparator {
		margin: 0 16px;
	}
}
