.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.flex {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.action {
	display: flex;
	align-items: center;
	gap: 8px;
}

.wrapper {
	display: flex;
	column-gap: 10px;

	.avatar {
		border-radius: 8px;
		object-fit: cover;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 4px;
		max-width: 200px;

		.label {
			color: #ff8357;
			font-size: 14px;
			font-weight: 500;
		}

		.desc {
			color: #9aa9b6;
			font-size: 12px;
			font-style: italic;
		}

		.label,
		.desc {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.box {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.pagination {
	margin-top: 16px;
}
