.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.flex {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.action {
	display: flex;
	align-items: center;
	gap: 8px;
}

.wrapper {
	display: flex;
	align-items: center;
	gap: 8px;

	.avatar {
		border-radius: 8px;
		border: 1px solid #ff8357;
	}

	.label {
		color: #ff8357;
		font-size: 14px;
		font-weight: 500;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 420px;
	}
}

.box {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.pagination {
	margin-top: 16px;
}
