@property --deg-in {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@property --deg-out {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.3;
	background: #212122;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 8;
}

.loading_tri_circular.center {
	position: absolute;
	z-index: 9;
}

.loading_tri_circular {
	--color: #ff6347;
	--size: 24vmin;
	--border: 10%;
	--duration: 1.8s;
	--state: running;

	width: var(--size);
	aspect-ratio: 1/1;
	border-radius: 50%;

	--border-in: calc(100% - (var(--border)) * 3);
	--border-out: calc(100% - (var(--border)) * 4);
	--radial-size: circle calc(var(--size) / 2);

	background-image: radial-gradient(
		var(--radial-size),
		#0000 var(--border-out),
		var(--color) var(--border-out),
		var(--color) var(--border-in),
		#0000 var(--border-in),
		#0000
	);

	--mask-radial: radial-gradient(var(--radial-size), #0000 var(--border-in), #fff var(--border-in), #fff);
	--mask-conic: conic-gradient(from var(--deg-out) at 50% 50%, #fff var(--deg-in), #0000 0deg);
	-webkit-mask-image: var(--mask-radial), var(--mask-conic);
	mask-image: var(--mask-radial), var(--mask-conic);
	animation: loading_tri_circular var(--duration) ease-in-out 0s infinite forwards var(--state);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: rotate(120deg);
		background-image: conic-gradient(from var(--deg-out) at 50% 50%, var(--color) var(--deg-in), #0000 0deg);
		--mask-radial: radial-gradient(
			var(--radial-size),
			#0000 calc(100% - var(--border)),
			#fff calc(100% - var(--border)),
			#fff 99.9%,
			#0000 99.9%,
			#0000
		);
		-webkit-mask-image: var(--mask-radial);
		mask-image: var(--mask-radial);
		animation: loading_tri_circular var(--duration) ease-in-out 0s infinite forwards var(--state);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: rotate(240deg);
		background-image: conic-gradient(from var(--deg-out) at 50% 50%, var(--color) var(--deg-in), #0000 0deg);
		--mask-radial: radial-gradient(
			var(--radial-size),
			#0000 calc(100% - (var(--border)) * 2.5),
			#fff calc(100% - (var(--border)) * 2.5),
			#fff calc(100% - (var(--border)) * 1.5),
			#0000 calc(100% - (var(--border)) * 1.5),
			#0000
		);
		-webkit-mask-image: var(--mask-radial);
		mask-image: var(--mask-radial);
		animation: loading_tri_circular var(--duration) ease-in-out 0s infinite forwards var(--state);
	}
}

@keyframes loading_tri_circular {
	0% {
		--deg-in: 0deg;
		--deg-out: 0deg;
	}
	50% {
		--deg-in: 360deg;
		--deg-out: 0deg;
	}
	100% {
		--deg-in: 0deg;
		--deg-out: 360deg;
	}
}
