.container {
	cursor: pointer;
	user-select: none;
	padding: 6px;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	transition: 0.2s;

	&:hover {
		opacity: 0.6;
	}

	&.disnable {
		pointer-events: none;
		opacity: 0.3;
	}
}
