.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.flex {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}
.action {
	display: flex;
	align-items: center;
	gap: 8px;
}

.pagination {
	margin-top: 16px;
}
